<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<h1>Add A New Animal</h1>
<form th:action="@{/animals/new}"
      th:object="${animal}" method="post"
>
    <div>
        <label>Name :</label>
        <input th:field="*{name}" name="name" for="name">

    </div>
    <div>
        <label>Type :</label>
        <input th:field="*{type}" name="type" for="type">

    </div>
    <div>
        <label>Sound :</label>
        <input th:field="*{sound}" name="sound" for="sound">

    </div>
    <div>
        <button type="submit" id="submit" >Create</button>
    </div>


</form>

<h2><a href="/animals/list">All Animals List</a> </h2>
<h2><a href="/">Home</a> </h2>

</body>
</html>