<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">
<head>
    <title>Employee Mangement System</title>
</head>
<body>
    <h1><b>Empolyee Mangment System</b></h1>

        <form id="newEmployeeForm"
              action="#"
              th:action="@{/ems/create}"
              th:object="${employee}"
              method="post">

                <label class="icon" for="firstName"></label>
                <input th:field="*{firstName}" placeholder="First Name" id="firstName" required/>

                <label class="icon" for="lastName"></label>
                <input th:field= "*{lastName}" placeholder="Last Name" id="lastName" required/>

                <label class="icon" for="email"></label>
                <input th:field= "*{email}" placeholder="Email" id="email" required/>

                <label class="icon" for="department"></label>
                <input th:field= "*{department}" placeholder="First Name" id="department" required/>

                <label class="icon" for="salary"></label>
                <input th:field= "*{salary}" placeholder="First Name" id="salary" required/>

                <label class="icon" for="date"></label>
                <input th:field= "*{date}" placeholder="First Name" id="date" required/>

    </form>
</body>
</html>