<!DOCTYPE html>
<html>
<head>
    <title>Employee Mangement System</title>
</head>
<body>


<div class="main-block">
    <h1><b>Empolyee Mangment System</b></h1>
    <form action="/">
        <div class="info">
            <div class="info-item">
                <label class="icon" for="firstName"><i class="fas fa-user"></i></label>
                <input type="text" name="firstName" id="firstName" placeholder="First Name" required/>
            </div>

            <div class="info">
                <div class="info-item">
                    <label class="icon" for="lastName"><i class="fas fa-user"></i></label>
                    <input type="text" name="lastName" id="lastName" placeholder="Last Name" required/>
                </div>

                <div class="info">
                    <div class="info-item">
                        <label class="icon" for="EmpId"><i class="fas fa-user"></i></label>
                        <input type="text" name="EmpId" id="EmpId" placeholder="Employee ID" required/>
                    </div>

                    <div  class="info-item">
                        <label class="icon" for="email"><i class="fas fa-envelope"></i></label>
                        <input type="text" name="email" id="email" placeholder="Email" required/>
                    </div>




                    <div  class="info-item">
                        <label class="icon" for="age"><i class="fas fa-calendar"></i></label>
                        <input type="text" name="age" id="age" placeholder="Age" required/>
                    </div>

                    <div  class="info-item">
                        <label class="icon" for="hireDate"><i class="fas fa-calendar"></i></label>
                        <input type="text" name="hireDate" id="hireDate" placeholder="HireDate" required/>
                    </div>



                    <div  class="info-item">
                        <label class="icon" for="salary"><i class="fas fa-calendar"></i></label>
                        <input type="text" name="salary" id="salary" placeholder="Salary" required/>
                    </div>


                    <div  class="info-item">
                        <label class="icon" for="department"><i class="fas fa-calendar"></i></label>
                        <input type="text" name="department" id="department" placeholder="Department" required/>

                        <!--
                                    <select>

                                      <option selected value="" disabled selected></option>
                                      <option value="m" >Information Technology</option>
                                      <option value="a">HumanResource</option>
                                      <option value="e">Doctors</option>
                                    </select>
                        -->
                    </div>



                    <div  class="info-item">
                        <label class="icon" for="phone"><i class="fas fa-phone"></i></label>
                        <input type="text" name="phone" id="phone" placeholder="Phone" required/>
                    </div>

                    <button type="submit" href="/">Update</button>

    </form>
</div>
</body>
</html>