<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">

<link th:href="@{/style.css}" href="/style.css" rel="stylesheet"  type="text/css" >

<head>
    <title>Employee Management System</title>
</head>
<body>

<div class="main-block">
    <h1>Employee Management System</h1>

    <form id="updateEmployeeForm"
          action="#"
          th:action="@{/ems/update}"
          th:object="${employee}"
          method="put">
        <div class="info">
            <input type="hidden" th:field="*{id}"  th:value="${employee.id}" id="id" />
            <input th:field="*{firstName}" placeholder="First Name" th:value="${employee.firstName}" id="firstName" required/>
            <input th:field= "*{lastName}" placeholder="Last Name" th:value="${employee.lastName}" id="lastName" required/>
            <input th:field= "*{email}" placeholder="Email" th:value="${employee.email}" id="email" required/>
            <input th:field= "*{salary}" placeholder="Salary" th:value="${employee.salary}" id="salary" required/>
            <input th:field= "*{date}" placeholder="Hire Date" th:value="${employee.date}" id="date" required/>

            <input th:field= "*{department}" placeholder="Department" id="department" required/>
            <select>
                <option value="${employee.department}" disabled selected>Department</option>
                <option value="Information Technology">Information Technology</option>
                <option value="Human Resource">HumanResource</option>
                <option value="Finance">Finance</option>
                <option value="OPD">OPD</option>

            </select>
            <button class="button" type="submit">Add</button>

        </div>

    </form>
</div>
</body>
</html>