<html xmlns:th="http://thymeleaf.org">
<!--<html xmlns:h1="http://thymeleaf.org">-->
<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />


<head>
    <title> Welcome to the EMPLOYEE MANAGEMENT SYSTEM !</title>
</head>
<body>
<h1> Add New Employee</h1>
*** ************** ***
<form id="newEmployeeForm"
      action="#"
      th:action="@{/employee/create}"
      th:object="${employee}" method="Post">
    <fieldset>

        <table>
            <tr>
                <th>
                    <label for="employeeId">employeeId</label>
                </th>
                <td>
                    <input type="number" th:field = "*{employeeId}" id="employeeId" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="firstName">First Name</label>
                </th>
                <td>
                    <input th:field = "*{firstName}" id="firstName" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="lastName">Last Name</label>
                </th>
                <td>
                    <input th:field = "*{lastName}" id="lastName" required>
                </td>
            </tr>

            <tr>
                <th>
                    <label for="hireDate">hireDate</label>
                </th>
                <td>
                    <input type="date" th:field = "*{hireDate}" id="hireDate" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="email">email</label>
                </th>
                <td>
                    <input type="email" th:field = "*{email}" id="email" required>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="department">department</label>
                </th>
                <td>
<!--                    <input th:field = "*{department}" id="department">-->
                    <select th:field="*{department}" id="department" required>
                        <option th:value="HR" th:text="Human_Resources"></option>
                        <option th:value="IT" th:text="Information_Technology"></option>
                        <option th:value="Finance" th:text="Finance"></option>
                        <option th:value="QA" th:text="Quality_Assurance"></option>
                        <option th:value="Management" th:text="Management"></option>


                    </select>
                </td>
            </tr>
            <tr>
                <th>
                    <label for="salary">salary</label>
                </th>
                <td>
                    <input type="number" placeholder="1.0" step="0.001" min="0" th:field = "*{salary}" id="salary" required>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button type="submit" id="submit">Create</button>
                </th>
            </tr>
        </table>

    </fieldset>
</form>
</body>