<html xmlns:th="http://thymeleaf.org">
<!--<html xmlns:th="http://www.thymeleaf.org">-->

<head>
    <meta charset="UTF-8">
    <title>Welcome to EMS!</title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />

</head>
<style>
#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
</style>
<h1>Employees</h1>
<body>

        <table>
            <thead>
            <tr>
                <th>Link</th>

                <th>Employee ID</th>

                <th>First Name</th>

                <th>Last Name</th>

                <th>Hire Date</th>

                <th>Department</th>

                <th>Salary</th>

                <th>DELETE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${allEmployees}">
                <td>
                    <a th:href="@{'/employee/{id}'(id=${employee.employeeId})}"
                       th:text="${employee.firstName}+' '+${employee.lastName}">Bob</a>
                </td>
                <td th:text="${employee.getEmployeeId()}">Bob</td>

                <td th:text="${employee.getFirstName()}">Bob</td>
                <td th:text="${employee.getLastName()}">cat</td>
                <td th:text="${employee.getHireDate()}">meow</td>

                <td th:text="${employee.getDepartment()}">meow</td>
                <td th:text="${employee.getSalary()}">meow</td>

                <td>
                    <a th:href="@{'/employee/delete/{id}'(id=${employee.employeeId})}"
                       th:text="DELETE"></a>
                </td>
                <td>
                    <a th:href="@{'/employee/update/{id}'(id=${employee.employeeId})}"
                       th:text="update"></a>
                </td>

            </tr>
            </tbody>
        </table>





</body>
</html>