<html xmlns:th="http://thymeleaf.org">
<!--<html xmlns:h1="http://thymeleaf.org">-->

<link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />


<head>
    <title> Welcome to the EMPLOYEE MANAGEMENT SYSTEM !</title>
</head>
<body>
<h1> Update Employee</h1>
*** ************** ***
<form id="newEmployeeForm"
      action="#"
      th:action="@{/employee/save}"
      th:object="${employee}" method="Post">
    <fieldset>

        <table>
            <tr>
                <th>
                    <label>employeeId</label>
                </th>
                <td>
<!--                    <input th:field = "*{employeeId}" id="employeeId" value="${employee.employeeId}">-->
                    <input th:field = "*{employeeId}" id="employeeId"/>

                </td>
            </tr>
            <tr>
                <th>
                    <label for="firstName">First Name</label>
                </th>
                <td>
                    <input th:field = "*{firstName}" id="firstName" value="${employee.getFirstName()}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="lastName">Last Name</label>
                </th>
                <td>
                    <input th:field = "*{lastName}" id="lastName"value="${employee.getLasttName()}">
                </td>
            </tr>

            <tr>
                <th>
                    <label for="hireDate">hireDate</label>
                </th>
                <td>
                    <input type="date" th:field = "*{hireDate}" id="hireDate" value="${employee.getHireDate()}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="email">email</label>
                </th>
                <td>
                    <input type="email" th:field = "*{email}" id="email"value="${employee.getEmail()}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="department">department</label>
                </th>
                <td>
                    <input th:field = "*{department}" id="department"value="${employee.getDepartment()}">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="salary">salary</label>
                </th>
                <td>
                    <input th:field = "*{salary}" id="salary"value="${employee.getSalary()}">
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <button type="submit" id="submit">Create</button>
                </th>
            </tr>
        </table>

    </fieldset>
</form>
</body>