<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> EMP </title>
</head>
<body>
<div>
    <h1 th:text="${employee.employeeId}">id</h1>
    <h1 th:text="${employee.firstName}">id</h1>
    <h1 th:text="${employee.lastName}">id</h1>
    <h1 th:text="${employee.salary}">id</h1>
    <h1 th:text="${employee.hiringDate}">id</h1>
    <h1 th:text="${employee.employeeId}">id</h1>


</div>


<h2><a href="/employees/list">List</a> </h2>
<h2><a href="/">Home</a> </h2>




</body>
</html>