<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Management System </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="../static/css/EmpStyleSheet.css" th:href="@{/css/EmpStyleSheet.css}" rel="stylesheet" />
</head>
<body>
<header>
    <div class="logo">
        <img src="../static/img/BUG_HUNTERS.png" th:src="@{/img/BUG_HUNTERS.png}" alt="logo"/>
    </div>
    <div class="name">
        <h2>Employee Management System</h2>
    </div>
</header>


<div class="container">
    <p class="paragraph" >
        <b> Bug Hunters </b>
        <br> <br>
        We break it, You buy it.
    </p>

    <img class="background" src="../static/img/img1.jpg" th:src="@{/img/img1.jpg}" alt="background"/>
    <a href="/employees/list"><button class="btn" ><span>ENTER</span></button></a>
</div>


</body>
</html>