html, body {
      height: 100%;
      }
      body, input, select {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #eee;
      }
      h1, h3 {
      font-weight: 400;
      }
      h1 {
      font-size: 50px;
      color: black;
      }
      h3 {
      color: #1c87c9;
      }
      .main-block, .info {
      display: flex;
      flex-direction: column;
      }
      .main-block {
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 100%;
/*      background: url("/uploads/media/default/0001/01/e7a97bd9b2d25886cc7b9115de83b6b28b73b90b.jpeg") no-repeat center;*/
      background-size: cover;
      }
      form {
      width: 80%;
      padding: 25px;
      margin-bottom: 20px;
      background: rgba(32, 32, 32, 0.9);
      }
      input, select {
      padding: 5px;
      margin-bottom: 20px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      }

    a:visited {
        color: red;

    }

      input::placeholder {
      color: #eee;
      }
      option {
      background: black;
      border: none;
      }
      .metod {
      display: flex;
      }
      input[type=radio] {
      display: none;
      }
      button {
      display: block;
      width: 400px;
      padding: 10px;
      margin: 20px auto 0;
      border: none;
      border-radius: 5px;
      background: #1c87c9;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
      }
      button:hover {
      background: #095484;
      }
      @media (min-width: 568px) {
      .info {
      flex-flow: row wrap;
      justify-content: space-between;
      }
      input {
      width: 46%;
      }
      input.fname {
      width: 100%;
      }
      select {
      width: 48%;
      }
      }

.but {
      width: 90%;
/*      padding: auto;*/
/*      border-radius: 5px; */
      border: none;
      background: #1c87c9;
      font-size: 20px;
      font-weight: 900;
      color:floralwhite;
      margin-top: 10px;
}

table {
  border-collapse: collapse
}

table, th, td {
border:  1px solid white;

}




