<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to the Petstore </title>
</head>




<body>

<h1>Welcome to the PetStore</h1>

<h1>List Of Animals...</h1>


<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Sound</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal: ${allAnimals}">
        <td th:text="${animal.name}">Bob</td>
        <td th:text="${animal.type}">Cat</td>
        <td th:text="${animal.sound}">Meow</td>

    </tr>
    </tbody>
</table>
<h3><a href="/animal/list.html">Animals List</a> </h3>

<h3><a href="/">Home</a> </h3>

</body>
</html>