<html xmlns:th="http://thymeleaf.org">

<head>
    <title> Welcome to the PetStore!</title>
</head>


<h1>List of animals</h1>
<b>Animals...</b>

<table>
    <thead>
    <tr>
        <th>Link</th>

        <th>Employee ID</th>

        <th>First Name</th>

        <th>Last Name</th>

        <th>Hire Date</th>

        <th>Department</th>

        <th>Salary</th>

        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <td>
        <a th:href="@{'/employee/{id}'(id=${employee.employeeId})}"
           th:text="${employee.firstName}+' '+${employee.lastName}">Bob</a>
    </td>
    <td th:text="${employee.getEmployeeId()}">Bob</td>

    <td th:text="${employee.getFirstName()}">Bob</td>
    <td th:text="${employee.getLastName()}">cat</td>
    <td th:text="${employee.getHireDate()}">meow</td>

    <td th:text="${employee.getDepartment()}">meow</td>
    <td th:text="${employee.getSalary()}">meow</td>

    <td>
        <a th:href="@{'/employee/delete/{id}'(id=${employee.employeeId})}"
           th:text="DELETE"></a>
    </td>

    </tbody>
</table>

</html>
</title>
</head>
<body>

</body>
</html>