<!DOCTYPE html>
<html xmlns:th= "http://www.thymeleaf.org">

<link th:href="@{/style.css}" href="/style.css" rel="stylesheet"  type="text/css" >

<head>
    <title>Employee Management System</title>
</head>
<body>

<div class="main-block">
    <h1>EMS - Add Employee</h1>

    <form id="newEmployeeForm"
          action="#"
          th:action="@{/ems/create}"
          th:object="${employee}"
          method="post">
        <div class="info">
            <input th:field="*{employeeId}" class="employeeId" placeholder="Employee ID" id="employeeId" required />

            <input th:field="*{firstName}" class="fname" placeholder="First Name" id="firstName" required/>

            <input th:field= "*{lastName}" placeholder="Last Name" id="lastName" required/>

            <input th:field= "*{email}" placeholder="Email" id="email" required/>


            <select th:field="*{department}">
                <option value="NA" disabled selected>Department</option>
                <option value="Information Technology">Information Technology</option>
                <option value="HumanResource">HumanResource</option>
                <option value="Finance">Finance</option>
                <option value="OPD">OPD</option>

            </select>

            <input th:field= "*{salary}" placeholder="Salary" id="salary" required/>

            <input th:field= "*{date}" placeholder="Hire Date" id="date" required type="date"/>
            <button class="button" type="submit">Add</button>

        </div>

    </form>
</div>
</body>
</html>