myHero {
	display: block;
	background-image: linear-gradient(red, yellow, blue, green);
	border: 4px doubled black;
	padding: 50px;
	font-size: 30px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px black;
}

h1 {
	text-align: center;
}
