<html xmlns:th="http://thymeleaf.org">
<!--<html xmlns:h1="http://thymeleaf.org">-->


<head>
    <title> Welcome to the PetStore!</title>
</head>
<body>
<h1> Add New Animal</h1>
*** Add Animal Name, Sound, Type***
<form id="newAnimalForm"
      action="#"
      th:action="@{/animal/new}"
      th:object="${animal}" method="Post">
    <fieldset>

        <table>
            <tr>
                <th>
                    <label for="name">Name</label>
                </th>
                <td>
                    <input th:field = "*{name}" id="name">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="sound">Sound</label>
                </th>
                <td>
                    <input th:field = "*{sound}" id="sound">
                </td>
            </tr>
            <tr>
                <th>
                    <label for="type">Type</label>
                </th>
                <td>
                    <input th:field = "*{type}" id="type">
                </td>
            </tr>
        </table>

    </fieldset>
</form>
</body>