<html xmlns:th="http://thymeleaf.org">

<head>
    <title> Welcome to the PetStore!</title>
</head>


<h1>List of animals</h1>
<b>Animals...</b>

<table>
    <thead>
    <tr>
        <th >Name</th>
        <th >Type</th>
        <th >Sound</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal: ${allAnimals}">
        <td th:text="${animal.getName()}">Bob</td>
        <td th:text="${animal.getType()}">cat</td>
        <td th:text="${animal.getSound()}">meow</td>
    </tr>
    </tbody>
</table>
</html>