<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>WELCOME TO THE PET STORE</title>
</head>
<style>
h1 {
text-align : center;
display: block;
background-color: #F8F9F9;
padding: 50px;
font-size: 30px;
}

</style>
<body style="background-color: #E8F8F5 ">
<h1>WELCOME TO THE PET STORE</h1>
<h2>Add A New Animal:</h2>

<form id="newAnimalForm"
      action="#"
      th:action="@{/animal/new}"
      th:object="${animal}" method="post">

    <fieldset>
        <table>
            <tr>
                <th>
                    <label for="name">Name</label>
                </th>
                <td>
                    <input th:field="*{name}" id="name"/>
                </td>
                <th>
                    <label for="type">Type</label>
                </th>
                <td>
                    <input th:field="*{type}" id="type"/>
                </td>
                <th>
                    <label for="sound">Sound</label>
                </th>
                <td>
                    <input th:field="*{sound}" id="sound"/>
                </td>
                <br>
                <th colspan="2">
                    <button type="submit" id="submit">Create</button>
                </th>
            </tr>
            <tr>

            </tr>
        </table>
    </fieldset>

</form>
<h3><a href="/">Home</a></h3>
</body>
</html>