<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>WELCOME TO THE PET STORE</title>
</head>
<style>
      h1 {

		  	text-align : center;
		  	display: block;
		  	background-color: #F8F9F9;
		  	padding: 50px;
		  	font-size: 30px;
		  }
		  H2 {

		  	margin-left : 100px;
		  }

</style>

<body style="background-color: #E8F8F5 " >

<h1>WELCOME TO THE PET STORE</h1>



<H2><a href="/animal/list.html">-Animals</a></H2>
<br>
<H2><a href="/animal/add">-Add A New Animal</a></H2>
<br>
<br>
<br>
<br>
<H2><a href="/h2-console">-h2-console</a></H2>
</body>
</html>