<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>WELCOME TO THE PET STORE</title>
</head>
<style>
h1 {

text-align : center;
display: block;
background-color: #F8F9F9;
padding: 50px;
font-size: 30px;
}

table{
width:50%;
text-align: center;
margin-left: 10%;
}
table ,th,td{
border: 1px solid black;
border-collapse: left;
}
th,td{
	padding: 15px;
}
</style>
<body style="background-color: #E8F8F5 ">

<h1>WELCOME TO THE PET STORE</h1>

<h2>List of Animals</h2>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Sound</th>
    </tr>
    <head>
    <tbody>
    <tr th:each="animal: ${allAnimals}">
        <td>
               <a th:href="@{'/animal/{id}'(id=${animal.id})}"
                  th:text="${animal.name}">Bob</a>

        </td>
        <td th:text="${animal.type}">DOG</td>
        <td th:text="${animal.sound}">woof</td>

    </tr>
    </tbody>
    </head>
    </thead>
</table>

<h3><a href="/">Home</a> </h3>
</body>
</html>