body {
    background: rgb(238, 240, 243);
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, serif;
}

header {

    text-align: center;
    display: flex;
    flex-direction: row;
    background: rgba(230, 220, 220, 0.137);
    border-bottom: 1px solid rgb(128, 129, 131);
    /* TODO: Fix shadow */
    box-shadow: 0px 0px 10px #888888;
}

.name {
    display: inline;
    margin-top: 1%;
    color: rgb(6, 24, 47);
    margin-right: 100%;
    width: 50%;

}

.logo img {
    display: inline;
    width: 100px;
    height: 120px;
    margin-left: 1500%;
    margin-top: 30%;
}

h2 {
    padding-top: 2%;
}
/* ----------------Beginning Table Style--------------- */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-radius: 12px;
    width: 52%;
    margin-left: 25%;
    background-color: #dddddd;
    border-radius: 12px;
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
    font-size:15px ;

}

table td {
    text-align: left;
    padding: 10px;
    border-bottom:2px solid;
    border-bottom-color: #cccccc;
    height: 20px;
}

th {
    color: #003399;
    text-align: left;
    justify-content: center;
    border-color: #131924;
    border-bottom: 3px solid;
    padding: 10px;
    background-color: rgb(238, 240, 243);
}


th:last-child {
    background-color: rgb(238, 240, 243);
    border: none;
}

tr:nth-child(even)  {
    background-color: lightsteelblue;
    border-bottom: none;
}

td:last-child {
    border: none;
    background-color:rgb(238, 240, 243);
}

tr:hover td:not(:last-child) {
    background-color: #929ca1;
}



/* ----------------End Table Style--------------- */


.fa fa-trash-o {
    color: #a54543;
    margin-left: 1%;
}

a {
    text-decoration: underline;
    border: none;
    color: rgb(31, 55, 85);

}

.add button {
    float: right;
    border: none;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 24.5%;
    margin-top: 0.5%;
    cursor: pointer;
    border-radius: 12px;
    background-color:rgb(238, 240, 243); ;
}




footer {
    background: rgb(128, 129, 131);
    margin-top: 33.33%;
    height: 10%;
}
.Home{
   float: left;
    margin-left: -40%;
}
/*--------------------------Employee Profile-------------------------*/