<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Welcome to the Petstore!</title>
</head>



<body>
<h>Welcome to the Petstore</h>
<h2>list of animals</h2>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Sound</th>
        <th>Sout</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${animal.name}">Bob</td>
        <td th:text="${animal.type}">cat</td>
        <td th:text="${animal.sound}">meow</td>
        <td>
            <a th:href="@{'/animal/delete/{id}'(id=${animal.id})}"
               th:text="DELETE"></a>
        </td>
    </tr>
    </tbody>
</table>

<h3><a href="/animal/list.html">List OF Animals</a></h3>
<h3><a href="/">Home</a></h3>

</body>
</html>