<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Employee Management System </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="../static/css/AddUpdate.css" th:href="@{/css/AddUpdate.css}" rel="stylesheet" />

</head>
<body th:style="'background:url('+ @{'/img/19366.png');} + ') background-attachment:fixed; background-size:cover;'">

<header>
    <div class="logo">
        <img src="../static/img/BUG_HUNTERS.png" th:src="@{/img/BUG_HUNTERS.png}" alt="logo"/>
    </div>
    <div class="name">
        <h1 >Employee Management System</h1>
        <ul>
            <li><a class="Home" href="/">Home</a> </li>
            <li><a href="/employees/list">Employees Records</a ></li>
            <li> <a href="/h2-console"> Control Panel</a> </li>
        </ul>
    </div>



</header>

<div class="container">
    <h2>Add New Employee </h2>
    <div class="row">
        <div class="card-body">
            <form class="updateform" th:action="@{'/employees/new/{id}'(id=${employee.id}) }"
                  th:object="${employee}" method="post">
                <div>
                    <label>Employee Id :</label>
                    <input class="info" th:field="*{employeeId}" name="employeeId" for="employeeId">
                </div>
                <div>
                    <label>First Name :</label>
                    <input class="info"th:field="*{firstName}" name="firstName" for="firstName">
                </div>
                <div>
                    <label>Last Name :</label>
                    <input class="info"th:field="*{lastName}" name="lastName" for="lastName">
                </div>
                <div>
                    <label>Department :</label>
                    <input class="info"type="text" th:field="*{department}" name="department" for="department">
                </div>
                <div>
                    <label>Salary :</label>
                    <input class="info"th:field="*{salary}" name="salary" for="salary">
                </div>
                <div>
                    <label>Hiring Date :</label>
                    <input class="info" type="date" th:field="*{hiringDate}" name="hiringDate" for="hiringDate">
                </div>
                <div>
                    <label>E-mail :</label>
                    <input class="info" type="email" th:field="*{email}" name="email" for="email">
                </div>

                <div>
                    <button class="btn" type="submit" id="submit" >Save</button>
                </div>


            </form>




        </div>
    </div>
</div>


</body>
</html>