form {
    width: 100%;
    border: 3px solid #f1f1f1;
}

.container {
    padding: 16px;
}

input {
    width: 100%;
    padding: 12px 50px;
    margin: 15px 0;
    border: 1px solid #ccc;
}

button {
    background-color: gray;
    color: white;
    padding: 14px 20px;
    margin: 8px 530px;
    width: 180px;


}