<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welcome to EMS!</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>

<div id="main">
    <div id="header"> <a href="/" class="logo"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" width="101" height="100" alt="" /></a>
        <ul id="top-navigation">
            <li class="active"><span><span>Homepage</span></span></li>
            <li><span><span><a href="/employee/list">Employees</a></span></span></li>
            <li><span><span><a href="/employee/add">Add Employee</a></span></span></li>
            <li><span><span><a href="/h2-console">H2 Admin Console</a></span></span></li>
        </ul>
    </div>
    <div id="middle">

        <div id="center-column">

            <img src="../static/images/welcome.png" th:src="@{/images/welcome.png}" width="625" height="600">



        </div>
        <div id="right-column"> <strong class="h">INFO</strong>
            <div class="box">EMS Meant to manage Employees Data that stored in H-2 Database By Adding new Employee, Update Employee and Delete Employee. </div>
        </div>
    </div>


    <div id="footer"></div>
</div>

</body>
</html>