<html xmlns:th="http://thymeleaf.org">

<head>
    <title> Welcome to the PetStore!</title>
</head>


<h1>List of animals</h1>
<b>Animals...</b>

<table style = "width:20%;border: 1px solid black">
    <thead>
    <tr>
        <th style = "width:20%;border: 1px solid black; background-color: #f1f1c1">Name</th>
        <th style = "width:20%;border: 1px solid black; background-color: #f1f1c1">Type</th>
        <th style = "width:20%;border: 1px solid black; background-color: #f1f1c1">Sound</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal: ${allAnimals}">
        <td style = "width:20%;border: 1px solid black; text-align:center">
            <a th:href="@{'/animal/{id}'(id=${animal.id})}"
               th:text="${animal.name}">Bob</a>
        </td>
        <td style = "width:20%;border: 1px solid black; text-align:center"; th:text="${animal.type}">cat</td>
        <td style = "width:20%;border: 1px solid black; text-align:center"; th:text="${animal.sound}">meow</td>
    </tr>
    </tbody>
</table>
<style>
body {background-color: powderblue;}
h1 {color:blue;}
p {color: red;}
</style>
</html>