<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Add Employee</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
	integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
	crossorigin="anonymous">
<!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
	<link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link th:href="@{/css/ionicons.min.css}" href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
<!--	<link th:href="@{/css/styles.css}" href="/css/styles.css" rel="stylesheet" type="text/css" />-->

</head>
<body>
<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand page-scroll" href="#"><i class="ion-ios-analytics-outline"></i> MythBusters</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>
					<a class="page-scroll" href="/employees/list">All Employees</a>
				</li>
				<li>
					<a class="page-scroll" href="http://localhost:8099/">Homepage</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="page-scroll" data-toggle="modal" title="MythBusters are here" href="#aboutModal">About</a>
				</li>
			</ul>
		</div>
	</div>
</nav>


	<div class="container my-5" style="margin-top: 100px">
	<h3> Add employee </h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-10">
					<form action="#" th:action="@{/employees/add}"
						th:object="${employee}" method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="a_employeeId" class="col-form-label">Employee ID</label> <input
									type="text" th:field="*{a_employeeId}" class="form-control" id="a_employeeId"
									placeholder="enter Employee ID" required> <span
									th:if="${#fields.hasErrors('a_employeeId')}" th:errors="*{a_employeeId}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="a_firstName" class="col-form-label">First Name</label> <input
									type="text" th:field="*{a_firstName}" class="form-control" id="a_firstName"
									placeholder="enter first name" required> <span
									th:if="${#fields.hasErrors('a_firstName')}" th:errors="*{a_firstName}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="b_lastName" class="col-form-label">Last Name</label> <input
									type="text" th:field="*{b_lastName}" class="form-control" id="b_lastName"
									placeholder="enter last name" required> <span
									th:if="${#fields.hasErrors('b_lastName')}" th:errors="*{b_lastName}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="email" class="col-form-label">Email</label> <input
									type="text" th:field="*{email}" class="form-control" id="email"
									placeholder="Email" required> <span
									th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
									class="text-danger"></span>
							</div>

							<div class="form-group col-md-8">
								<label for="department" class="col-form-label">Choose department</label>
								<select id="department" class="custom-select" th:field="*{department}">
									<option th:value="'None'" th:text="'Choose department'"></option>
									<option th:value="'Quality assurance'" th:text="'Quality assurance'"></option>
									<option th:value="'Crisis Management'" th:text="'Crisis Management'"></option>
									<option th:value="'Market Research'" th:text="'Market Research'"></option>
									<option th:value="'Promotion Decisions'" th:text="'Promotion Decisions'"></option>
									<option th:value="'Finance Department'" th:text="'Finance Department'"></option>
									<option th:value="'Sanitation Department'" th:text="'Sanitation Department'"></option>
									<option th:value="'Telecommunication Department'" th:text="'Telecommunication Department'"></option>
									<option th:value="'Another Department'" th:text="'Another Department'"></option>
									<option th:value="'The Last Department'" th:text="'The Last Department'"></option>

								</select>
								<span th:if="${#fields.hasErrors('department')}" th:errors="*{department}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="hireDate" class="col-form-label">Hiring date</label> <input
									type="date" th:field="*{hireDate}" class="form-control"
									id="hireDate" placeholder="enter hiring date" required> <span
									th:if="${#fields.hasErrors('hireDate')}" th:errors="*{hireDate}"
									class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="salary" class="col-form-label">Salary</label> <input
									type="text" th:field="*{salary}" class="form-control"
									id="salary" placeholder="enter salary" required> <span
									th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}"
									class="text-danger"></span>
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add Employee">
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.easing.min.js}"></script>
<script type="text/javascript" th:src="@{/js/wow.js}"></script>
<script type="text/javascript" th:src="@{/js/scripts.js}"></script>

</body>
</html>