<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Welcome to the Petstore!</title>
</head>
<body>
<h1>Add New Animal</h1>


<form id="newAnimalForm"
      action="#" th:action="@{/animal/new}"
      th:object="${animal}" method="post">
    <fieldset>
        <table>
            <tr>
                <th>
                    <label for="name">Name</label>
                </th>
                <td>
                    <input th:field="*{name}" id="name"/>
                </td>
            </tr>

            <tr>
                <th colspan="2">
                    <button type="submit" id="submit">create</button>
                </th>
            </tr>
        </table>
    </fieldset>


</form>
</body>
</html>