<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Welcome to the Petstore!</title>
</head>
<body>
<h1> List of Animals</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Sound</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="animal: ${allAnimals}">
        <td>
                <a th:herf="@{'/animal/{id}'(id=${animal.id})}"
                   th:text="${animal.name}">Bob</a>

        </td>

        <td th:text="${animal.type}">Cat</td>
        <td th:text="${animal.sound}">Meow</td>
    </tr>
    </tbody>
</table>
<h3><a href="/">Home</a></h3>
</body>
</html>